{% extends 'admin/master.html' %}

{% block body %}
    <h1 class="text-center text-primary">Chào mừng đến với trang quản trị</h1>
    
    <div class="container mt-5">
        <h2 class="mb-4">Báo cáo tổng quan</h2>
        
        <div class="row">
            <div class="col-md-3">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Tổng số đơn hàng</h5>
                        <p class="card-text display-4 mb-0">{{ total_orders }}</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Doanh thu</h5>
                        <p class="card-text display-4 mb-0">{{ total_revenue | currency }}</p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h5 class="card-title">Số lượng sản phẩm</h5>
                        <p class="card-text display-4 mb-0">{{ total_products }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mt-5">
            <h3>Đơn hàng gần đây</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Mã đơn hàng</th>
                        <th>Khách hàng</th>
                        <th>Ngày đặt</th>
                        <th>Tổng tiền</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in recent_orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.user.fullname }}</td>
                        <td>{{ order.order_date.strftime('%d/%m/%Y') }}</td>
                        <td>{{ order.total_amount | currency }}</td>
                        
                        {% if order.status_id == 1 %}
                        <td class="text-warning">Đang xử lý</td>
                        {% elif order.status_id == 2 %}
                            <td class="text-success">Đã giao hàng</td>
                        {% endif%}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
